<header class="em-c-header" role="banner">
    <div class="em-l-container em-c-header__inner">
        <div class="em-c-header__body">
            <div class="em-c-header__title-container">
                <h2 class="em-c-header__title"><a class="em-c-header__title-link" href="#" rel="home">DevOps Playbook</a></h2>
            </div><!-- end em-c-header__left -->
            <button class="em-c-btn em-c-btn--small em-c-btn--inverted em-c-header__nav-btn em-js-nav-trigger">
                <div class="em-c-btn__inner">
                    <svg class="em-c-btn__icon em-js-btn-icon" data-em-btn-toggle-text="Close" data-em-icon-path="./content/img/em-icons.svg">
                        <use xlink:href="./content/img/em-icons.svg#icon-menu" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                    </svg> <svg class="em-c-btn__icon em-u-is-hidden em-js-btn-swap-icon" data-em-icon-path="./content/img/em-icons.svg">
                        <use xlink:href="./content/img/em-icons.svg#icon-x" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                    </svg> <span class="em-c-btn__text em-js-btn-label">Menu</span>
                </div>
            </button><!-- end em-c-btn -->
            <div class="em-c-header__nav-container em-js-nav-panel">
                <nav class="em-c-primary-nav" id="nav" role="navigation">
                    <ul class="em-c-primary-nav__list">
                        <li class="em-c-primary-nav__item">
                            <a class="em-c-primary-nav__link em-is-current" href="#">Home</a> <!--end em-c-primary-nav__link-->
                        </li><!-- end em-c-nav__list__item -->
                        <li class="em-c-primary-nav__item">
                            <a class="em-c-primary-nav__link em-c-primary-nav__link--has-children em-js-nav-dropdown-trigger" href="#">
                                DevOps Tasks <svg class="em-c-icon em-c-primary-nav__icon">
                                    <use xlink:href="./content/img/em-icons.svg#icon-caret-down" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                </svg>
                            </a> <!--end em-c-primary-nav__link-->
                            <ul class="em-c-primary-nav__sublist em-js-nav-dropdown">
                                <li class="em-c-primary-nav__subitem">
                                    <a class="em-c-primary-nav__sublink" href="#!/assess">DevOps Assessment</a>
                                </li><!-- end em-c-nav__sublist__item -->
                                <li class="em-c-primary-nav__subitem">
                                    <a class="em-c-primary-nav__sublink" href="#!/about">Agile Assessment</a>
                                </li><!-- end em-c-nav__sublist__item -->
                                <li class="em-c-primary-nav__subitem">
                                    <a class="em-c-primary-nav__sublink" href="#!/contact">Create Team PlayBook</a>
                                </li><!-- end em-c-nav__sublist__item -->
                            </ul><!-- end em-c-nav__sublist -->
                        </li><!-- end em-c-nav__list__item -->
                    </ul><!-- end em-c-nav__list -->
                </nav><!-- end em-c-nav -->
            </div><!-- end em-c-header__nav -->
        </div><!-- end em-c-header__body -->
    </div><!-- end em-l-container -->
</header><!-- end em-c-header -->