<!-- home.html -->
    <div class="em-l-container">
        <div class="em-c-hero em-c-hero--tinted em-u-margin-bottom-quad" style="background-image:url(content/img/home-panel.jpg);">
            <div class="em-c-hero__body">
                <h1 class="em-c-hero__title">Use this PlayBook to establish your DevOps best practice.</h1>
                <p class="em-c-hero__desc">
                    <strong>The PlayBook</strong> provides a way for project teams at Exxon to assess themselves in DevOps practices and create a learning plan.
                </p>
                <div class="em-c-btn-group">
                    <a href="#!/assess" class="em-c-btn em-c-button--primary em-c-btn--large">
                        <span class="em-c-btn__text">Assess Yourself Here</span>
                    </a>

                </div>

            </div>
        </div><!--end emc-hero-->
        <hr />
        <div class="row">
            <div class="col-md-6">
                <h3><span class="glyphicon glyphicon-info-sign"></span> How this PlayBook app works</h3>
                <ul>
                    <li>This app was created with the intent of providing a spot for project teams to self-assess their DevOps practices.</li>
                    <li></li>
                    <li>The steps you should follow are below:</li>
                    <li><span style="padding:7px" class="glyphicon glyphicon-stats"></span><strong>Perform an Agile\DevOps Self Assessment</strong></li>
                    <li><span style="padding:7px" class="glyphicon glyphicon-book"></span><strong>Fill out your committment playbook</strong></li>
                    <li><span style="padding:7px" class="glyphicon glyphicon-duplicate"></span><strong>Utilize the custom made guide to help you bootstrap your application to be up and runnig as quickly as possible</strong></li>
                </ul>
            </div>
            <div class="col-md-6">
                <h3><span class="glyphicon glyphicon-link"></span> Next Steps</h3>
                <ul>
                    <li>If you are following the <a href="http://unity.na.xom.com">Unity</a> style guide, then you are well on your way to making consistent looking web applications in the most efficient manner.</li>
                    <ul>
                        <li>What the PlayBook intends to do is take what Unity provided for the front end and allow you to get established best practices for DevOps on your team.</li>
                    </ul>
                </ul>
                <h3><span class="glyphicon glyphicon-link"></span> Helpful Links</h3>
                <ul>
                    <li><a href="https://www.heroku.com/home">Unity</a></li>
                    <li><a href="https://devcenter.heroku.com/">Microsoft Devops</a></li>
                    <li><a href="https://devcenter.heroku.com/articles/getting-started-with-nodejs">ScrumAlliance</a></li>
                    <li><a href="https://devcenter.heroku.com/articles/deploying-nodejs">SAFe</a></li>
                </ul>
            </div>
        </div> <!-- row -->
    </div>